body {
    background-color: #f8f9fa;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  color: #2c3e50;
  text-shadow: 1px 1px 2px #ccc;
  margin-bottom: 20px;
}

.bg-image-left {
    background-image: url("/static/images/city-left.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-image-right {
    background-image: url("/static/images/city-right.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}


body {
    font-family: 'Poppins', sans-serif;
}